body {
    font-family: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section {
    width: 100%;
    height: 100vh;
    background-image: url(donation6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

}

.section-part {
    color: aliceblue;
    text-align: center;

}

.titel {
    font-size: 50px;
}

.re-titel {
    font-size: 20px;
    margin: 80px;
    text-align: center;
}

.Donate-Button {
    background-color: tomato;
    color: aliceblue;
    text-decoration: none;
    padding: 12px 20px;

}

.donate-now-section {
    margin-top: 80px;
    margin-bottom: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.donate-text {
    margin: 70px;
    text-align: center;
    align-items: center;
    column-gap: 30;
}

.font-size {
    font-size: 50px;
}

.donate-now-part {
    text-align: center;
    margin-bottom: 40px;
}

.donate-now-part h2 {
    font-size: 30px;
}

.donate-now-taka {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
    margin-bottom: 40px;
}

.taka-pathaw {
    padding: 20px;
    background-color: azure;
    color: gray;
}

#taka-200 {
    background-color: wheat;
    border: 2px solid tomato;
    color: tomato;

}

.donate-input {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.input {
    width: 600px;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
}

.plan {
    width: 350px;
    height: 300px;
    border: 2px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 30px;



}

.plan-section {
    margin-bottom: 70px;

}

.icon-size {
    width: 50px;

}

.optional {
    display: flex;

}

.opt1 {
    font-size: 50px;
    margin-bottom: 20px;
}

.half {
    width: 50%;
    padding: 10%;
}

.half img {
    width: 100%;
}

.opt-pera {
    margin-bottom: 20px;
}

.opt-btn {
    text-decoration: none;
    background-color: tomato;
    color: aliceblue;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5px;

}

.our-plans {
    display: flex;
    justify-content: center;
    column-gap: 20px;

}

#color {
    background-color: antiquewhite;
}

#color2 {
    background-color: lightpink;
}

#color1 {
    background-color: aquamarine;
}

.update-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;
}

.box {
    width: 800px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: bisque;
}

.update-text {
    margin: 70px;
}

.footer {
    background-color: black;
    color: crimson;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer div {
    text-align: center;
}

.update-input {
    font-size: large;
    background-color: darkgray;
    width: 500px;
    height: 48px;
    padding: 12x 20px;
    text-decoration: none;
}